# MongoDB Atlas 
MONGO = ..............................
JWT_SECRET  ="......................"
JWT_EXPIRES_IN='..'
EMAIL_USER='.................'
EMAIL_PASS='..................'
CLIENT_URL=http://localhost:5173

# GitHub Client Secrets
GITHUB_CLIENT_ID="..................."
GITHUB_CLIENT_SECRET="..........................."