# MongoDB Atlas 
MONGO="your_mongodb_uri"

# JWT Config
JWT_SECRET="your_jwt_secret"
JWT_EXPIRES_IN="7d"

# Email Configuration
EMAIL_USER="your_email_address"
EMAIL_PASS="your_email_password"

# Client URL
CLIENT_URL="http://localhost:5173"

# GitHub Client Secrets
GITHUB_CLIENT_ID="your_github_client_id"
GITHUB_CLIENT_SECRET="your_github_client_secret"
